services:
  api:
    build: .
    ports:
      - "4000:3000"
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/movies?schema=public
      JWT_SECRET: supersecret
      JWT_EXPIRES_IN: 1h
      NODE_ENV: production
    depends_on:
      - db
    command: >
      sh -c "npx prisma migrate deploy && node dist/main.js"

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: movies
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
